<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SAPConnections" type="SAPCommon.SapConnectionsSection, SAPCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SAPConnections>
    <connections>
      <add Name="MSF GTP (SSO)" AppServerHost="172.27.6.23" SystemNumber="50" SystemID="GTP" Client="060" Language="DE" SncMode="1" SncPartnerName="p:CN=SVC_SAP_GTP_ABAP"/>
      <add Name="MSF GTI (SSO)" AppServerHost="172.27.6.73" SystemNumber="51" SystemID="GTI" Client="060" Language="DE" SncMode="1" SncPartnerName="p:CN=SVC_SAP_GTI_ABAP"/>
      <add Name="MSF GTM (SSO)" AppServerHost="172.27.6.32" SystemNumber="55" SystemID="GTM" Client="060" Language="DE" SncMode="1" SncPartnerName="p:CN=SVC_SAP_GTM_ABAP"/>
      <add Name="MSF GTP" AppServerHost="172.27.6.23" SystemNumber="50" SystemID="GTP" Client="060" Language="DE" SncMode="0" SncPartnerName=""/>
      <add Name="MSF GTI" AppServerHost="172.27.6.73" SystemNumber="51" SystemID="GTI" Client="060" Language="DE" SncMode="0" SncPartnerName=""/>
      <add Name="MSF GTM" AppServerHost="172.27.6.32" SystemNumber="55" SystemID="GTM" Client="060" Language="DE" SncMode="0" SncPartnerName=""/>
    </connections>
  </SAPConnections>
</configuration>